In [2]:
import tensorflow as tf
import pandas as pd

In [3]:
filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(filepath)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)

(506, 13) (506, 1)

In [5]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [6]:
model.fit(independent, dependent, epochs=1000, verbose=0)
model.fit(independent, dependent, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 26.9494
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 26.5565
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 27.0633
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 26.5034
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 26.5291
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 26.8554
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 26.3020
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 26.9955
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 26.6411
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 26.6584

In [7]:

print(model.predict(independent[5:10]))

print(dependent[5:10])

[[26.353504]
 [21.102457]
 [17.959679]
 [ 9.278431]
 [17.626564]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [8]:
print(model.get_weights())

[array([[-0.08548826],
       [ 0.07402366],
       [-0.05650158],
       [ 3.3240082 ],
       [ 2.052159  ],
       [ 3.8344545 ],
       [ 0.0185983 ],
       [-0.85646147],
       [ 0.14622545],
       [-0.0089339 ],
       [ 0.05616283],
       [ 0.01607651],
       [-0.59330505]], dtype=float32), array([2.2335706], dtype=float32)]